<div class="dialog">
    <img class="img1" src="assets/Profileimg.png" />
    <h2 class="name" mat-dialog-title style="font: 20px">Michael Kurniawan</h2>
    <mat-dialog-content>Software Developer</mat-dialog-content>
    <br />
    <div>
        <span class="location"
            ><mat-icon class="locationicon" color="warn"> location_on</mat-icon
            >Kudus</span
        >
    </div>
<br>

<div class="DashedLine">
    <hr />
</div>


    <div class="Email">
     <mat-icon class="emailicon"> email</mat-icon>
    <span class="EmailGroup">
        <h2 class="emailtitle">Email</h2>
        <p class="emailaddress">MichaelKurniawan@gmail.com</p>
    </span>
    </div>

    <div class="NIK">
        <mat-icon class="NIKicon">credit_card</mat-icon>
       <span class="NIKGroup">
           <h2 class="NIKtitle">NIK</h2>
           <p class="NoNik">01.00292</p>
       </span>
       </div>

       <div class="Ext">
        <mat-icon class="ExtIcon">calendar_view_day</mat-icon>
       <span class="ExtGroup">
           <h2 class="ExtTitle">Ext</h2>
           <p class="ExtNum">110925</p>
       </span>
       </div>

    <mat-dialog-actions class="CloseButton">
        <button class="Button" mat-button mat-dialog-close>close</button>
    </mat-dialog-actions>
</div>

<!-- <div class="mdl-card__supporting-text">
    Country/region
    <i class="material-icons">help_outline</i>
</div> -->



<!-- <span class="Email">
    <mat-icon class="emailicon"> email</mat-icon>
    Michaelkurniawan@gmail.com
</span> -->
