<!-- <div class="card" style="width: 18rem;">
    <img src="assets/profile.png" class="card-img-top" style="border-radius: 50%;" width="90px">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 -->

<!-- <section class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow-lg">
            <img src="assets/profile.png " alt="" class="img-fluid">
            <div class="card-body">
              <p class="h3">Paris</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              <button class="btn btn-danger btn-sm">Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<!-- <div class="topnav">
    <input type="text" placeholder="Search..">
  </div> -->



<div class="content">
    <div class="text">
        <div class="Header">
            <div *ngIf="Header">
              {{Header}}
            </div>
          </div>
        
        <!-- <h3 class="Header">Employee list</h3> -->
        <div class="SubHead"> <p class="subheader" *ngIf=SubHeader>
            Get to know your employee, view their contact list for further
            information
        </p>
    </div>
    <br>
        
            <mat-divider ></mat-divider>
       
        
    </div>

    <br />

    
        <div class="cari">
            <div class="Search">
                <div class="searchbar">
                    <mat-icon class="searchicon">search</mat-icon>
                    <input type="text" placeholder="Search" /><span></span>
                </div>
               </div> 
        </div>
 
   


    <mat-grid-list cols="6" [gutterSize]="'20px'" rowHeight="245px">
        <div class="employeecards">
            <mat-grid-tile *ngFor="let num of [1, 2, 3, 4, 6, 7, 8, 9,10,11,12,13,14,15,16]">
             <div style="margin: 5px">
                <mat-card>
                    <div class="image">
                    <img class="img1" *ngIf="IMG" src="assets/Profileimg.png" />
                </div>

                    <mat-card-header class="name">
                        
                        <mat-card-title style="font-size: 13px">
                            Michael kurniawan
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="font-size: 11.5px" class="job">
                        <p>Software Developer</p>
                    </mat-card-content>
                    <div>
                        <span class="location"
                            ><mat-icon class="locationicon" color="warn"> location_on</mat-icon>Kudus</span
                        >
                    </div>
                    <mat-card-actions>
                        <button
                            class="button"
                            mat-flat-button
                            
                            (click)="openDialog()"
                        >
                            View Profile
                        </button>
                    </mat-card-actions>
                </mat-card>
             </div>
        </mat-grid-tile>
    </div>
    </mat-grid-list>

</div>



<!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div  *ngFor="let num of [1,2,3,4,6,7,8,9]">
            <mat-card class="mat-elevation-z4">
                <img class="img1" src="assets/Profileimg.png" />
                <mat-card-header class="name">
                    <mat-card-title style="font-size: 12.5px" >Michael kurniawan</mat-card-title>
                </mat-card-header>
                <mat-card-content style="font-size: 11px;" class="job">
                    <p>Software Developer</p>
                </mat-card-content>
                <mat-card-actions>
                    <button  class="button" mat-flat-button color="primary">
                        View Profile
                    </button>
                </mat-card-actions>
            </mat-card>
</div> -->

<div fxlayout="row wrap" fxLayoutGap="16px">
    <div
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="35%"
        *ngFor="let num of [1, 2, 3, 4, 5]"
    ></div>
</div>

